.mainSection {
  padding-top: 60px;
  padding-bottom: 60px;
}

.title {
  font-size: 36px;
  line-height: 42px;
  font-family: Roboto Mono, monospace;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 3.5s steps(30, end);
  margin-bottom: 40px;
}
.blinkCaret{
  animation: blink-caret .5s step-end infinite;
}
.description {
  margin-bottom: 30px;
}

.downloadBtn {
  background-color: #6d56c1;
  height: 50px;
  border-radius: 25px;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  padding: 15px;
  min-width: 170px;
  text-align: center;
  display: inline-block;
  color: #fff !important;
  font-weight: 600;
  overflow: hidden;
}

.downloadBtn:hover {
  background-color: #7b67c7;
  text-decoration: none;
}


/* The typing effect */
@keyframes typing {
  from {
    width: 0
  }
  to {
    width: 100%
  }
}

@keyframes blink-caret {
  from, to { opacity: 0 }
  50% { opacity: 1 }
}
