.mainSection {
  padding-top: 60px;
  padding-bottom: 60px;
}

.title {
  margin-bottom: 40px;
  font-size: 36px;
  line-height: 42px;
  font-family: Roboto Mono,monospace;
}

.description {
  margin-bottom: 30px;
}

.downloadBtn {
  background-color: #6d56c1;
  height: 50px;
  border-radius: 25px;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  padding: 15px;
  min-width: 170px;
  text-align: center;
  display: inline-block;
  color: #fff!important;
  font-weight: 600;
  overflow: hidden;
}
.downloadBtn:hover {
  background-color: #7b67c7;
  text-decoration: none;
}
