$break-xl: 1200px;
$break-l: 992px;
$break-s: 768px;
$break-xs: 576px;

.mainSection {
  padding-top: 60px;
  padding-bottom: 60px;
}

.title {
  margin-bottom: 40px;
  font-size: 36px;
  line-height: 42px;
  font-family: Roboto Mono, monospace;
  animation: typing 3.5s steps(40, end);
}

.description {
  margin-bottom: 30px;
}

.resumeList {
  margin-top: 30px;
  margin-bottom: 30px;
  position: relative;
}

.listTitle {
  font-family: Roboto Mono, monospace;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: 700;
  color: #999;
  margin-bottom: 40px;
}

.listBlock {
  border-left: 2px solid #6d56c1;
  padding-left: 25px;
  padding-bottom: 50px;
}

.listBlock:before {
  width: 12px;
  height: 12px;
  border: 2px solid #6d56c1;
  position: absolute;
  content: "";
  border-radius: 50%;
  background-color: #fff;
  left: -5px;
}

.listBlock:last-child {
  padding-bottom: 0;
}

.listBlockTitle {
  text-transform: uppercase;
  color: #6d56c1;
  font-size: 14px;
  line-height: 20px;
  font-family: Roboto Mono, monospace;
  font-weight: 700;
  padding-bottom: 5px;
}

.listBlockDate {
  font-family: Inconsolata, monospace;
  font-size: 14px;
  line-height: 20px;
  color: #999;
  padding-bottom: 10px;

}

.chartTitle, .chartContainer p {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}

.chartTitle {
  font-family: Roboto Mono, monospace;
  letter-spacing: 5px;
  font-weight: 700;
  color: #999;
  margin-bottom: 40px;
}

.chartWrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 40px;
}


.progressContent {
  width: 0;
  background-color: #6d56c1;
  transition: width .6s ease;
}

.progressRowWrapper {
  display: flex;
  overflow: hidden;
  text-align: center;
  background-color: #e9ecef;
  border-radius: .25rem;
  height: 6px;
  margin-bottom: 30px;

}

.progressTitleWrapper {
  display: flex;
  justify-content: space-between;

}

.progressTitleWrapper span {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  font-family: Inconsolata, monospace;
  margin-bottom: 10px;
}

@media (min-width: $break-xs) {

}

@media (min-width: $break-s) {
  .chartWrapper {
    grid-template-columns: 1fr 1fr;
  }
}


@media (min-width: $break-l) {

}

@media (min-width: $break-xl) {

}


/* The typing effect */
@keyframes typing {
  from {
    width: 0
  }
  to {
    width: 100%
  }
}

@keyframes blink-caret {
  from, to {
    opacity: 0
  }
  50% {
    opacity: 1
  }
}

